.form {
	background-color: chartreuse;
	width: 400px;
	height: 50px;
	border-radius: 7px;
	padding: 20px;
}

.indo {
	background-color: red;
	text-align: center;
}

body {
	background-color: red;

}

h1 {
	background-color: green;
}
